<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
      
      <%= f.label :gyokai, "業種" %>
      <%= f.select :gyokai, [["メーカー", "maker"], ["サービス", "service"], ["その他", "gyokai_others"]], :include_blank => true %>
      
      <%= f.label :shokushu, "職種" %>
      <%= f.select :shokushu, [["開発", "kaihatsu"], ["製造", "seizo"], ["マーケティング", "marketing"], ["営業・販売", "eigyo"], ["事務", "jimu"], ["その他", "shokushu_others"]], :include_blank => true  %>
      
      <%= f.label :shokui, "職位" %>
      <%= f.select :shokui, [["経営者", "keieisha"], ["管理職", "kanrishoku"], ["担当", "tanto"], ["その他", "shokui_others"]], :include_blank => true  %>

      <%= f.submit "更新する", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>