<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
      
      <%= f.label :gyokai, "業種" %>
      <%= f.select :gyokai, [["メーカー", "メーカー"], ["サービス", "サービス"], ["その他", "その他"]], :include_blank => true %>
      
      <%= f.label :shokushu, "職種" %>
      <%= f.select :shokushu, [["開発", "開発"], ["製造", "製造"], ["マーケティング", "マーケティング"], ["営業・販売", "営業・販売"], ["事務", "事務"], ["その他", "その他"]], :include_blank => true  %>
      
      <%= f.label :shokui, "職位" %>
      <%= f.select :shokui, [["経営者", "経営者"], ["管理職", "管理職"], ["担当", "担当"], ["その他", "その他"]], :include_blank => true  %>

      <%= f.submit "更新する", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>